TELEGRAM_BOT_TOKEN=ВСТАВИТЬ_TELEGRAM_BOT_TOKEN
TELEGRAM_CHAT_ID=ВСТАВИТЬ_TELEGRAM_CHAT_ID
TELEGRAM_RELAY_URL=
TELEGRAM_RELAY_SECRET=

NEXT_PUBLIC_SANITY_PROJECT_ID=y5jey6av
NEXT_PUBLIC_SANITY_DATASET=production
NEXT_PUBLIC_SANITY_API_VERSION=2025-01-01
